/* ------------------------------------------- */
/* css for desktop and default */
/* ------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: 700;
}

h3 {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* ------------------------------------------- */
/* head section css  */
/* ------------------------------------------- */
.header-main {
    background-color: #161616;
    color: #ffffff;
    padding: 0 120px;
    border-radius: 10px;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-red {
    background-color: #DD0000;
    padding: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    transition: background .5s ease-in-out, color .5s ease-in-out;
    max-width: 150px;
    border: none;
}

.btn-red:hover {
    color: #DD0000;
    background: #ffffff;
    cursor: pointer;
}

.btn-red i {
    margin-left: 10px;
}

.header-text {
    width: 60%;
    animation: 1.8s ease-in-out 0s slideleft;
}

.head-text p {
    margin: 20px 0px;
}

.header-image img {
    transform: translateX(100px);
    transition: transform 2s ease-in-out;

}

.header-main:hover img {
    transform: translateX(70px) scale(110%);
}


.header-image {
    padding-right: 50px;
    width: 40%;
    display: flex;
    background: radial-gradient(rgba(255, 255, 255, 0.199), #16161667, #161616);
    transition: background 1s ease-in-out;
}

/* end head section css  */



/* middle area css  */

.main-area {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 20px;
    padding-top: 50px;
}

/* ------------------------------------------- */
/* side bar css  */

.sidebar {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #161616;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    animation: 1s ease-in-out 0s slideleft;
}

.sidebar a {
    color: #161616;
    background: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 5px;

}

.sidebar .active {
    background-color: #DD0000;
    color: #fff;
}

.sidebar a:hover {
    background-color: #DD0000;
    color: #fff;
}

.sidebar .active {
    border: none;
}

/* ------------------------------------------- */
/* end sidebar css  */

.content-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    animation: 1s ease-out 0s slideright;
}

/* ------------------------------------------- */
/* singel post css  */
.post-card {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    overflow: hidden;
    box-shadow: 5px 5px 10px #E8E8E8;
}

.post-content {
    padding: 15px
}

.post-category {
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
    color: #161616;

}

.post-content h3 {
    margin: 10px 0px;
    font-weight: 400;
}

.post-content a {
    color: #161616;

}

.meta {
    font-weight: 500;
    margin-top: 15px;
}

.meta span {
    margin-right: 20px;
}

.post-card:hover {
    box-shadow: 10px 10px 20px #ddd;
}

.post-card:hover .post-cat {
    background-color: #161616;
    color: #fff;
}


/* end post css  */

.pad-only {
    display: none;
}


/* end middle area css  */




/* css for match-day page */

.match-day {
    padding: 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.flags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 15px;
}


/* css for group page  */

.group-head {
    text-align: center;

}

.group-head p {
    color: #978888;

}


.group-list {
    border-top: #E8E8E8 1px solid;
    padding-top: 20px;
}


/* footer css  */

footer {
    background-color: #161616;
    margin-top: 30px;
    overflow: hidden;
    color: #fff;
    text-align: center;

}

.footer-content {
    margin: 50px 0px;
}


/* social icons css */

.social-icons {
    margin: 30px 0px;

}

.social {
    border: 1px solid #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 50%;
}

.social:hover {
    background-color: #DD0000;
    color: #ffffff;
}

/* end  social icons css */


/* footer menu css  */
footer a {
    color: #fff;
    font-weight: 400;
}

footer a:hover {
    color: #DD0000;
}

ul {
    list-style: none;
    margin: 20 auto;
    text-align: center;
}

li {
    display: inline-block;
    margin: 20px;
}

.footer-menu {
    border-top: #242323 1px solid;
}


/* end footer menu css  */




/* animation keyfreames css  */

@keyframes slideleft {
    0% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideright {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(0);
    }
}

/* end animation css  */

/* start responsive css  */




/* Small devices (phones, 767px and down) */
@media only screen and (max-width: 767.98px) {
    body {
        padding-top: 0px;
    }

    .container {
        width: 100%;
    }

    .head-area {
        padding: 50px;
        flex-direction: column;
        height: max-content;
    }

    .head-content {
        width: 100%;
        text-align: center;
    }

    .head-content p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-red {
        margin: 0 auto;
    }

    .head-content {
        display: flex;
        justify-content: center;
    }

    .content-area {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
        animation: 1s ease-out 0s slideright;
        padding: 20px;
    }

    .head-model {
        width: 100%;
        padding-top: 50px;
        margin-bottom: -50px;
    }

    .head-area img {
        transform: translateX(0px) scale(130%);
    }

    .head-area:hover img {
        transform: translateX(0px) scale(130%);
    }

    li {
        display: block;
        margin: 20px;
    }

    /* middel content css  */
    .main-area {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        padding-top: 50px;
    }

    /* side bar css  */
    .sidebar {
        display: flex;
        flex-direction: column;
        height: fit-content;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        animation: 1s ease-in-out 0s slideleft;
    }

    .sidebar a {
        border: 1px solid #E8E8E8;
    }
}

/* Medium devices ( tablets, 786px to 991px)  */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    body {
        padding-top: 0px;
    }

    .container {
        width: 100%;
    }

    .head-area {
        padding: 50px;
        height: max-content;

    }

    .head-content {
        width: 50%;

    }

    .head-content {
        display: flex;
        justify-content: center;
    }

    .head-model {
        width: 30%;
        padding-top: 50px;
        margin-bottom: -50px;
    }

    .head-area img {
        transform: translateX(100px) scale(140%);
    }

    .head-area:hover img {
        transform: translateX(100px) scale(140%);
    }

    /* middel content css  */
    .main-area {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        padding-top: 50px;
    }


    /* side bar css  */
    .sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: fit-content;
        background-color: #fff;

        padding: 15px;
        border-radius: 10px;
        text-align: center;
        animation: 1s ease-in-out 0s slideleft;
    }

    .sidebar a {
        border: 1px solid #E8E8E8;
        width: 33%;
    }

    .content-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        animation: 1s ease-out 0s slideright;
        padding: 20px;
    }

    .pad-only {
        display: block;
        margin: 0 auto;
        width: 200px;
    }
}